<div class="container">
    <div class="header">
        <div class="title">Catalog</div>

        <div >
            <input class="search" type="text" placeholder="Search Entire Catalog">
        </div>
    </div>
    <div class="divider"></div>
    <div class="details">
        <div class="chips-section">
            <div class="chips">Brand</div>
            <div class="chips">Supplier</div>
            <div class="chips">Price</div>
            <div class="chips">More</div>
        </div>
        <div class="resutls">1,476,344 results in 164</div>
    </div>
</div>